<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_ITesterInfoManagerService" />
        </netTcpBinding>
      </bindings>
      <client >
        <endpoint  address="net.tcp://localhost:8733/Design_Time_Addresses/TesterInfoManagerService/"
            binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITesterInfoManagerService"
            contract="JP.ExamSystem.ExamCommons.Services.ITesterInfoManagerService" name="ITesterInfoManagerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>